<h2>{{ this.title }}</h2>
<hr>
<section id="form">
  <form (ngSubmit)="onSubmit()" #formTask="ngForm">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="task.title">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea [(ngModel)]="task.description" name="description" rows="3" class="form-control"></textarea>
    </div>
    <div class="col-12 d-flex flex-row">
      <div class="form-group col-6">
        <label>Priority:</label>
        <select id="priority" name="priority" [(ngModel)]="this.task.priority" class="form-control w-75">
          <option value="0">Low</option>
          <option value="1">medium</option>
          <option value="2">High</option>
        </select>
      </div>
      <div class="form-group col-6">
        <label>Status:</label>
        <select id="status" name="status" [(ngModel)]="this.task.status" class="form-control w-75">
          <option value="0">Pending</option>
          <option value="1">In Progress</option>
          <option value="2">Completed</option>
          <option value="3">Archived</option>
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-right: 2px;">Save</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['']">Cancel</button>
  </form>
</section>
