<header>
  <nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/']">MyTasks App</a>
  </nav>
</header>

<section>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</section>

<footer class="mt-2 p-2 text-center fixed-bottom d-flex fleex-row justify-content-evenly ">
  <span>Author: Wesley Deus</span>
  <span><a href="https://www.linkedin.com/in/wesleywcd/" target="_blank">My Linkedin</a></span>
  <span><a href="mailto:wesleywcd@gmail.com">wesleywcd@gmail.com</a></span>
</footer>
