<br>
<div style="display: flex; justify-content: flex-end;">
  <button mat-raised-button color="accent" (click)="this.newTask()">Create Task</button>
</div>

<hr>

<h2>List tasks</h2>

<div *ngIf="loading && !tasks.length" class="loading-container">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="this.tasks.length > 0">
  <table mat-table [dataSource]="tasks" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let task"> {{task.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let task"> {{task.title}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Priority </th>
      <td mat-cell *matCellDef="let task"> {{task.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let task"> {{task.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let task">
        <button mat-raised-button style="margin-right: 5px;" color="primary" (click)="this.detailTask(task.id)">
          <mat-icon>Details</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="this.deleteTask(task.id)">
          <mat-icon>Delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="loadingMore" class="loading-more">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
