<br>
<h1>Task Details</h1>
<hr>
<form>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" [(ngModel)]="this.task.title" required>
  </div>
  <div>
    <label for="dueDate">Due Date:</label>
    <input type="date" id="dueDate" name="dueDate" [(ngModel)]="this.task.dueDate">
  </div>
  <div>
    <label for="priority">Priority:</label>
    <select id="priority" name="priority" [(ngModel)]="this.task.priority" required>
      <option value="0">Low</option>
      <option value="1">medium</option>
      <option value="2">High</option>
    </select>
  </div>
  <div>
    <label for="status">Status:</label>
    <select id="status" name="status" [(ngModel)]="this.task.status" required>
      <option value="0">Pending</option>
      <option value="1">In Progress</option>
      <option value="2">Completed</option>
      <option value="3">Archived</option>
    </select>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="task.description"></textarea>
  </div>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="accent" (click)="this.goBack()">Back</button>
      <button mat-raised-button color="primary" (click)="this.save()">Save</button>
    </div>
  </section>
</form>
